.app-bar-container {
    position: absolute;
    width: 400px;
    left: 1299px;
  }
  
  .app-bar {
     background-color: transparent; 
    height: 100px;
  }
   
  .toolbar {
    display: flex;
    justify-content: center;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .icon-buttons {
    display: flex;
    align-items: center;
  }
  
  .more-icon {
    display: flex;
    align-items: center;
  }
  
  .mobile-menu {
    position: absolute;
    top: 50px; 
    right: 0;
    z-index: 1;
  }


  .Navbar-lovation{
    position: absolute;
    top: 2000px;
  }
  
  @media (max-width: 600px) {
    .icon-buttons {
      display: none;
    }
  }
  

  .post{

    background-color: #e8deff;
  }

   