:root {
  --main-color: #b01c47;
}




header {
  background: rgb(214,208,222);
background: linear-gradient(60deg, rgba(214,208,222,1) 7%, rgba(7, 84, 240, 0.945) 100%);
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    /* border: 2px solid #D7B462 ; */
    height: 100px;
    width: auto;
  
  }
  
  header img {
    width: 100px;
    position: absolute;
    margin-bottom: 150px;
    height: 90px;
    top: 10px;
  }
  
  header .registration-button {
    position: relative;
    left: 1200px;
    background-color: rgb(181, 52, 113); /* Example style */
    color: white;
    margin-bottom: 150px;
    top: 15px;
    width: 150px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  }
  
  header .login-button {
    background-color: #ded0da;
    border-color: #25054b; /* Example style */
    color: #b01c47;
    position: relative;
    left: 1200px;
    top: 15px;
    width: 150px;
    height: 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  }
  



div #demo-positioned-button  {
    position: relative;
    left: 1530px;
    color: #25054b;
    top: -45px;
    height: 60px;
    width: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-color: #25054b; /* Example style */


  }

  .webSearch{
    position: absolute;
    left: 500px;
    top: -105px;
    width: 600px;
    border: 2px solid #240750;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-color: #D7B462; /* Example style */

    
  }



 /* Header.css */
.Navbar-location {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  top: 30px;
  left: 200px;
  
}
