:root {
  --main-color: #b01c47;
}

body{
  color: #E1F7F5;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9AC8CD;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 100px;
  width: 100%;
  z-index: 1000; /* Ensure the header is on top */
}

  
  header img {
    width: 100px;
    position: absolute;
    margin-bottom: 150px;
    height: 90px;
    top: 10px;
  }
  
 

  



div #demo-positioned-button  {
    position: relative;
    left: 1530px;
    color: #25054b;
    top: -45px;
    height: 60px;
    width: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-color: #25054b; /* Example style */

  }

  .webSearch{
    position: absolute;
    left: 500px;
    top: -105px;
    width: 600px;
    border: 2px solid #240750;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-color: #D7B462; /* Example style */

    
  }



 /* Header.css */
.Navbar-location {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  top: 10px;
  left: 200px;
  
}
