/* Nav.css */
.app-bar-container {
    position: absolute;
    width: 400px;
    left: 1299px;
  }
  
  .app-bar {
    /* background-color: transparent; Ensure the background is transparent */
    height: 100px;
  }
  
  .toolbar {
    display: flex;
    justify-content: center;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .icon-buttons {
    display: flex;
    align-items: center;
  }
  
  .more-icon {
    display: flex;
    align-items: center;
  }
  
  .mobile-menu {
    /* Adjust this as needed to position the mobile menu */
    position: absolute;
    top: 50px; /* Adjust this value as needed */
    right: 0;
    z-index: 1;
  }


  .Navbar-lovation{
    position: absolute;
    top: 2000px;
  }
  
  @media (max-width: 600px) {
    .icon-buttons {
      display: none;
    }
  }
  

  
.container {
    margin: 60% auto;
  }
  
  button {
    display: inline-block;
    background-color: #6bbe92;
    border: 0;
    width: 60px;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
  }
  